
  .userdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    align-items: center;
    width: 50rem;
    max-width:100%;
    margin-bottom:1rem;
 
  }
  
  .userdiv h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  .userdiv {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(24, 17, 17);
    background-color: #fff;
    border: 1px solid white;
    border-radius: 12px;
  }
  li {
      text-decoration: none;
      list-style: none;
    }
  
  @media (min-width: 580px) {
    .userdiv{
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .userdiv h2 {
      font-size: 1.25rem;
    }
  
    .userdiv {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }